* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}

html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

body {
  white-space: nowrap;
  user-select: none;

  padding: 18px;

  text-align: center;
}

img {
  pointer-events: none;
}

button {
  font: inherit;
  font-size: 12px;
  appearance: none;
  border: none;
  width: 100%;
  background-color: color(display-p3 0.004 0.004 0.204 / 0.059);
  height: 30px;
  border-radius: 4px;
  cursor: default;
  transition:
    background-color 100ms ease,
    transform 100ms ease;
}

button:hover {
  background-color: color(display-p3 0.012 0.012 0.184 / 0.091);
}

button:active {
  transform: scale(0.98);
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
  user-select: none;
}

.title {
  font-weight: 700;
  font-size: 22px;
}

.version {
  font-size: 14px;
  font-weight: 500;
  background-color: #222;
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  margin-top: 10px;
  line-height: 1;
}

.backup {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.settings-button {
  display: block;
  margin-top: 20px;
}

.release-notes-button {
  display: block;
  color: #3696f6;
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}

#logo {
  width: 64px;
  height: auto;
  display: block;
  margin: auto;
}

#title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 12px;
}

#settings-button {
  margin-top: 16px;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  margin-top: 16px;
  font-size: 12px;

  #version {
    color: #666;
  }

  #release-notes {
    color: #1387f0;
    cursor: pointer;
    font-weight: 500;
  }
}
